
#divLang1112{
	width:auto;
	height:auto;
	
}
#form111{
	display:inline-block;
	height:auto;
}

.grpsepar label{
	display:block;
}

#divLang1112 input{
			
}

#strButIng2{
	position:relative;
	display:block;
	float:right;	
}
#strButIng3{
	position:relative;
	display:block;
	float:right;	
}

#strButIng4{
	position:relative;
	display:block;
	float:right;	
}
