<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-tr.dtd">
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="es">
<link rel="SHORTCUT ICON" href="../res/favicon2.ico" />
<script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="../js/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="js/cookies.js"></script>
<link id="links1" type="text/css" href="../css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="Stylesheet" />
<link type="text/css"	href="css/strings.css" rel="Stylesheet" />
<script type="text/javascript" src="js/strings.js"></script>
</head>
<body>
	<div id="divContent" class="ui-widget-content"> 
		<div id="divBar" class="ui-widget-header divMov" ></div>
		<div id="divMid" class='divMov'></div>
		<div id="divRight" class='divMov'></div>
		<div id="divBot" class='divMov'></div>
	</div>
	<label class="ui-state-default myTitle ">xTend</label>
</body>
</html>